extends ../layouts/default


//- INCLUDES

//- INTRO
block intro

	//- HERO
	if !user
		h2.text-center Приветствуем Вас в панели управления системой ТОиРУС
		//img(src='/images/mobile_head.png',align='center')
	else

//- BODY
block content
	.page-content
		
		//- About
		article.section.section--featured.home-about: .container
			.row: .col-sm-8.col-sm-offset-2
				p.lead Автоматизация и контроль за обслуживанием хозяйства в любой сфере деятельности. Программно-технический комплекс для транспорта, промышленности, логистики, энергетики.
			if !user
				.row: .col-sm-4.col-sm-offset-4
					a(href='/join', data-from=page.path).js-auth-trigger.btn.btn-lg.btn-block.btn-primary.mv-1
						span.text-caps Подключиться сейчас
			p.mt-1
				a(href='http://toirus.ru') Узнать больше о ТОиРУС
//- JS
block js

	//- REACT SCRIPTS
	script(src='/js/packages.js')
	script(src='/js/home.js')
