extends ../../layouts/session

block content
	//- .row: .col-md-6.col-md-offset-3
	h1 Выход
	p.lead До новых встреч...
	p: a(href='/signin').btn.btn-primary.btn-block Войти снова
	p: a(href='/').btn.btn-default.btn-block На главную
