extends layouts/base

block content
	p Здравствуйте #{user.name},
	p Недавно Вы запросили сброс пароля облачного сервиса ТОиРУС.
	p Пожалуйста проойдите по ссылке ниже для осуществления процедуры:
	a(href=host + link)= host + link