.panel-heading{color:#525252;text-decoration:none;font-weight:200;padding:8px 10px;background-color:lightblue; border-bottom:1px; solid:#e2e1e1}
.green{font-color:green;}
.btn-right{float:right; margin-right:10px; padding:0px; margin-bottom: 10px; padding:.1em .2em .1em; }
.status-label{padding:.1em .6em .1em; text-align:center; border-radius: .25em; margin: .2em .6em .3em; white-space: nowrap}
.opened{background-color:red; color:#fff;}
.closed{background-color:#4caf50; color:#fff;}
.process{background-color:blue; color:#fff;}
.pl-1{padding:.2em .2em .2em; margin:.2em .2em .2em; }
.pl-3{padding:.3em .3em .3em; margin:.3em .3em .3em; }
.thac{padding:.1em .1em .1em; margin:.2em .2em .2em; text-align:center; }
.tcenter{text-align:center; }
.topr{vertical-align:top; valign:top; }
.bold{font-weight:bold; }
.bred{background-color:red; color:#fff; background-image: none; padding:.1em .9em .1em; border-radius: .25em;}
.bgreen{background-color:green; color:#fff; background-image: none; padding:.1em .2em .1em; border-radius: .25em;}
.bblue{background-color:blue; color:#fff; background-image: none; padding:.1em .2em .1em; border-radius: .25em;}
.no-wrap{white-space: nowrap}
.btn-small{padding:.1em .9em .1em; font-weight:100; font-size: 16px}
.gray{background-color: lightblue;}
