extends ../../layouts/default

block intro

block flash-messages

block content
	.container-sm
		.page-content.tile.ph-0.pv-2.mb-2
			.panel-heading
				span.entypo.entypo-save
				|  Типовые документы
			br
			p.lead.ph-1 
				img(src='/images/pdf.png',width='32px') 
				a(href='/docs/dogovor.docx') Лицензионный договор-оферта
		.page-content.tile.ph-0.pv-2.mb-2
			.panel-heading
				span.entypo.entypo-pencil
				|  Лицензионный договор-оферта
			br
			p.lead.ph-1 Текст настоящего Договора является публичной офертой в соответствии со статьей 435 и частью 2 статьи 437 Гражданского кодекса Российской Федерации (далее «ГК РФ»). 
			p.lead.ph-1 Общество с ограниченной ответственностью «», именуемое в дальнейшем «Лицензиар», в лице директора , действующего на основании Устава, публикует настоящий Лицензионный договор- оферту (далее – «Договор»), являющийся публичной офертой Лицензиатам (физическим, юридическими лицам или индивидуальным предпринимателям), принявшим публичное предложение (оферту) о заключении Договора. 
			p.lead.ph-1 Принимая данный Договор-оферту, Лицензиат, тем самым, от своего имени и от имени любых иных лиц, заинтересованных в определяемых данным Договором-офертой услугах, выражает свое согласие с тем, что настоящие условия не ущемляют его законных прав. Если Лицензиат не принимает условия настоящего Лицензионного соглашения в полном объеме, то он не имеет права использовать услуги и программное обеспечение сервисов сервера системы ТОИРУС Лицензиара. 
			p.lead.ph-1 1. Термины и определения 
			p.lead.ph-1 1.1. Сервер системы ТОИРУС Лицензиара (облачный сервер) – программное обеспечение для ЭВМ размещенное на выделенных серверах в дата-центрах (далее Программа),  исключительное право на которое принадлежит Лицензиару (Система ТОИРУС – ссылка на свидетельство). Описание назначения, функционала и технических характеристик сервисов сервера Лицензиара передаются в виде документации при заключении договора и размещены в Интернете по адресу http://toirus.ru, а также могут быть высланы по запросу. 
			p.lead.ph-1 1.2. Лицензиат – физическое, юридическое лицо или индивидуальный предприниматель, заключившее с Лицензиаром Лицензионный договор оферты на условиях, изложенных в настоящем Договоре. 
			p.lead.ph-1 1.3. Обновление сервиса – программное обеспечение, изменяющее, заменяющее и/или дополняющее Программу и/или ее составные части, установленное на Сервере. Все Обновления Программы являются ее неотъемлемыми составными частями. 
			p.lead.ph-1 1.4. Сервер – принадлежащий Лицензиару или арендуемый им сервер, расположенный в РФ, на котором физически располагаются облачные сервисы. 
			p.lead.ph-1 1.5. Тарифный план – система условий, ставок и платежей за различные наборы услуг и лицензий: подключение, размер лицензионного платежа и т.д. 
			p.lead.ph-1 1.6. Лицензионный платеж – вознаграждение за предоставление Лицензии, которое Лицензиат обязуется уплатить Лицензиару в соответствии с настоящим Договором и выбранными тарифами за весь срок, на который предоставляется доступ к серверу системы. 
			p.lead.ph-1 1.7. Лицензия - право использования Программы для ЭВМ (облачного сервиса) в объеме и пределах, установленных настоящим Договором и Тарифами, на условиях простой (неисключительной) лицензии с сохранением за Лицензиаром права выдачи лицензий другим лицам. 
			p.lead.ph-1 2. Предмет Договора 
			p.lead.ph-1 Лицензиар по настоящему Договору передает Лицензиату простые неисключительные права на использование одного или нескольких облачных серверов Лицензиара посредством предоставления Лицензиату доступа к программе облачных сервисов Лицензиара, размещенных в дата-центрах, а Лицензиат обязуется своевременно уплатить единоразово /уплачивать  Лицензионные платежи в соответствии с условиями настоящего Договора. 
			p.lead.ph-1 Предоставление доступа к облачным сервисам производится Лицензиаром на основании оплаты счета и в соответствии с условиями, указанными в договоре на (), в котором указываются технические параметры развертываемой системы (количество единиц оборудовании, объектов итп). Все условия настоящего Договора в равной степени применяются к серверу в целом и к его компонентам в отдельности, включая все Обновления. 
			p.lead.ph-1 3. Права и обязанности Сторон 
			p.lead.ph-1 3.1. Лицензиар обязуется: 
			p.lead.ph-1 3.1.1. в порядке, предусмотренном статьей 4 настоящего Договора, предоставить Лицензиату доступ к серверу системы ТОИРУС; 
			p.lead.ph-1 3.1.2. информировать Лицензиата об изменениях спецификаций на тарифный план посредством E-mail, не менее чем за 7 (семь) рабочих дней до даты вступления в силу новых условий оплаты; 
			p.lead.ph-1 3.1.3. не изменять стоимость оплаченных услуг, в случае изменения спецификации на тарифный план; 
			p.lead.ph-1 3.1.4. обеспечивать Лицензиату круглосуточный доступ к облачным сервисам, за исключением времени проведения профилактических работ, при условии своевременной уплаты Лицензиатом Лицензионных платежей; 
			p.lead.ph-1 3.1.5. своевременно осуществлять Обновление программного обеспечения сервера системы при появлении обновлений; 
			p.lead.ph-1 3.1.6. обеспечить конфиденциальность всех данных, введенных Лицензиатом в облачные сервисы; 
			p.lead.ph-1 3.1.7. воздерживаться от каких-либо действий, способных затруднить осуществление Лицензиатом прав, предоставленных по Лицензии; 
			p.lead.ph-1 3.1.8. отсылать на E-mail Лицензиата информацию о проведении профилактических работ на Сервере и/или приостановлении его работы. 
			p.lead.ph-1 3.1.9. исполнять иные обязанности Лицензиара, предусмотренные настоящим Договором. 
			p.lead.ph-1 
			p.lead.ph-1 3.2. Лицензиар вправе: 
			p.lead.ph-1 3.2.1. по своему усмотрению и без согласования с Лицензиатом вносить изменения в сервер системы или его сервисы; 
			p.lead.ph-1 3.2.2. приостанавливать доступ Лицензиата к серверу в случае нарушения последним условий настоящего Договора; 
			p.lead.ph-1 3.2.3. проводить профилактические работы. По возможности Лицензиар проводит профилактические работы и приостанавливает работу в ночное время или в выходные дни; 
			p.lead.ph-1 3.2.4 осуществлять обновление программного обеспечения при выпуске новых версий программного обеспечения ТОИРУС или используемых в нем библиотек сторонних производителей;
			p.lead.ph-1 3.2.4. осуществлять иные права, предусмотренные настоящим Договором; 
			p.lead.ph-1 3.2.5. требовать от Лицензиата исполнения обязанностей, предусмотренных пп. 3.3 настоящего Договора, а также иных обязанностей Лицензиата в соответствии с настоящим Договором. 
			p.lead.ph-1 3.3. Лицензиат обязуется: 
			p.lead.ph-1 3.3.1. использовать сервер системы ТОИРУС и его сервисы самостоятельно и не передавать права на использование третьим лицам без предварительного письменного согласия Лицензиара; 
			p.lead.ph-1 3.3.2. без предварительного письменного согласия Лицензиара не передавать третьим лицам полностью или в части права и/или обязанности по настоящему Договору, не продавать, не тиражировать, не копировать Программу полностью или частично, не отчуждать Программу полностью или частично иным образом, в том числе безвозмездно; 
			p.lead.ph-1 3.3.3. не использовать без предварительного письменного разрешения Лицензиара Программу для создания и публикации  баз данных, аналогичных Программе, не включать Программу в какие бы то ни было базы данных, не распространять Программу способами, не предусмотренными настоящим Договором, не доводить до всеобщего сведения материалы и документы, содержащиеся в Программе, а также авторские произведения, содержащиеся в Программе; 
			p.lead.ph-1 3.3.4. использовать программное обеспечение системы исключительно с соблюдением всех условий настоящего Договора; 
			p.lead.ph-1 3.3.5. не передавать третьим лицам пароли и логины, используемые для доступа, обеспечивать их конфиденциальность; 
			p.lead.ph-1 3.3.6. при необходимости назначить уполномоченных лиц, имеющих доступ к определенным логинам и паролям, принадлежащим Лицензиату; 
			p.lead.ph-1 3.3.7. уплачивать Лицензиару Лицензионные платежи в порядке и в размере, установленном настоящим Договором и приложениями к нему; 
			p.lead.ph-1 3.3.8. исполнять иные обязанности, предусмотренные настоящим Договором. 
			p.lead.ph-1 3.4. Лицензиат вправе: 
			p.lead.ph-1 3.4.1. осуществлять круглосуточный доступ к серверу системы, за исключением времени проведения профилактических работ в соответствии с п. 3.2.3 настоящего Договора; 
			p.lead.ph-1 3.4.2. по своему усмотрению использовать возможность осуществления доступа  через Интернет; 
			p.lead.ph-1 3.4.3. требовать от Лицензиара исполнения обязанностей, предусмотренных настоящим Договором;
			p.lead.ph-1 3.4.4. осуществлять иные права, предусмотренные настоящим Договором.
			p.lead.ph-1 4. Объем и порядок передачи прав по Лицензии 
			p.lead.ph-1 4.1. Исключительное право на программное обеспечение сервера системы ТОИРУС, сопровождающие ее и входящие в ее состав материалы, копии Программы и составные части Программы принадлежат Лицензиару и защищаются законодательством Российской Федерации об авторском праве. 
			p.lead.ph-1 4.2. Объем прав использования программного обеспечения сервера, предоставляемый Лицензиату по Лицензии, определяется выбранным вариантом лицензирования, в соответствии с условиями настоящего Договора и заключенным договором на оказание услуг по установке и настройке экземпляра системы ТОИРУС на объекте Лицензиата. 
			p.lead.ph-1 4.3. Действие Лицензии не ограничено территорией России или какого-либо иного государства. 
			p.lead.ph-1 4.4. Срок действия Лицензии определяется в соответствии с выбранными Лицензиатом типом лицензирования и фактически оплаченными платежами. 
			p.lead.ph-1 4.5. В течение 5 (пяти) рабочих дней с момента уплаты Лицензиатом платежа в соответствии со статьей 5 настоящего Договора Лицензиар обязуется активировать передаваемую Лицензиату Лицензию и передать ее Лицензиату. 
			p.lead.ph-1 5. Лицензионный платеж 
			p.lead.ph-1 5.1. Лицензиат уплачивает Лицензионные платежи в соответствии с выбранным типом лицензирования. 
			p.lead.ph-1 5.2  Предлагается два варианта лицензирования: разовая покупка лицензии на использование Программы в течении неограниченного времени или лицензирование с периодическими платежами за обслуживание сервера и обновления. 
			p.lead.ph-1 5.2. Размер Лицензионных платежей определяется в соответствии с выбранным вариантом лицензирования. 
			p.lead.ph-1 5.3. Лицензионный платеж уплачивается Лицензиатом одним из следующих способов: 
			p.lead.ph-1 5.3.1. безналичным переводом на расчетный счет Лицензиара на основании выставленного Лицензиаром счета; 
			p.lead.ph-1 5.3.2. с использованием электронных платежных систем, если таковые есть на сайте Лицензиара или в Личном кабинете Лицензиата. 
			p.lead.ph-1 5.4. Днем уплаты Лицензионного платежа считается день поступления денежных средств на расчетный счет Лицензиара. 
			p.lead.ph-1 5.5. В случае уплаты Лицензионного платежа способом, предусмотренным п. 5.3.1 настоящего Договора, Лицензиат обязуется уведомить Лицензиара об уплате Лицензионного платежа путем направления копии платежного поручения с отметкой банка об осуществлении платежа. 
			p.lead.ph-1 5.6. В случае уплаты Лицензионного платежа способом, предусмотренным п. 5.3.2 настоящего Договора, Лицензиат обязан исполнить обязанность по уплате Лицензионного платежа лично. Лицензиат вправе возложить исполнение данной обязанности на третье лицо только после получения предварительного письменного согласия Лицензиара. 
			p.lead.ph-1 5.7. Все банковские либо иные комиссионные платежи, связанные с уплатой Лицензионного платежа, оплачиваются Лицензиатом. 
			p.lead.ph-1 5.8. В случае автоматического возобновления Лицензии на новый срок в соответствии с п. 4.4. настоящего Договора Лицензиат обязуется уплатить Лицензионный платеж в порядке, установленном пп. 5.1 – 5.7 настоящего Договора, не позднее истечения срока действия Лицензии, определяемого в соответствии с п. 4 настоящего Договора. 
			p.lead.ph-1 6. Ответственность Сторон 
			p.lead.ph-1 6.1. В случае неисполнения или ненадлежащего исполнения своих обязательств по настоящему Договору Стороны несут ответственность в соответствии с действующим законодательством Российской Федерации и условиями настоящего Договора. 
			p.lead.ph-1 6.2. Лицензиар гарантирует, что передача Лицензиату Лицензии по настоящему Договору не нарушает права третьих лиц. 
			p.lead.ph-1 6.3. Лицензиар предоставляет Лицензиату Программу в соответствии с общепринятым в международной практике принципом и обычаем делового оборота «как есть» и не несет ответственности за проблемы и недостатки, возникающие и/или обнаруживаемые в процессе обновления, поддержки и эксплуатации Программы (включая без ограничения проблемы совместимости с другими программными продуктами, драйверами и др., несоответствие результатов использования Программы ожиданиям Лицензиата и т. д.). 
			p.lead.ph-1 6.4. Лицензиар не несет ответственности за невозможность использования Лицензиатом Программы по причинам, зависящим от Лицензиата. 
			p.lead.ph-1 6.5. Лицензиар не несет ответственности за неисполнение или ненадлежащее исполнение обязательств по настоящему Договору, в том числе за прямые и/или косвенные убытки Лицензиата, включая без ограничения прямые и/или косвенные убытки Лицензиата в результате: 
			p.lead.ph-1 6.5.1. неправомерных действий пользователей сети Интернет; 
			p.lead.ph-1 6.5.2. отсутствия и/или наличия проблем при установлении интернет-соединения между оборудованием Лицензиата и оборудованием Лицензиара; 
			p.lead.ph-1 6.5.3. проведения органами государственной власти оперативно-розыскных мероприятий, если проведение таких мероприятий не вызвано осуществлением Лицензиаром противоправной деятельности, подтвержденным вступившим в законную силу решением суда; 
			p.lead.ph-1 6.5.4. незаконного ограничения доступа к серверу системы третьими лицами. 
			p.lead.ph-1 7. Персональные данные 
			p.lead.ph-1 7.1. Лицензиат даёт Лицензиару добровольное информированное согласие на обработку персональных данных лиц, данные которых используются в процессе работы с сервисами системы ТОИРУС, включая фамилию и имя, номер телефона и адрес электронной почты в целях исполнения условий настоящего Договора. 
			p.lead.ph-1 7.2. Обработка персональных данных Лицензиата включает их хранение, обработку, деперсонализацию и уничтожение. 
			p.lead.ph-1 7.4. Лицензиар имеет право использовать персональные данные Лицензиата только в технологических, маркетинговых, рекламных и информационных целях.
			p.lead.ph-1 8. Конфиденциальность информации 
			p.lead.ph-1 8.1. Положения и условия настоящего Договора, любая информация и документы (в том числе в электронной форме), полученные Сторонами в процессе заключения и исполнения настоящего Договора, являются конфиденциальными. Конфиденциальными не признаются документы и информация, являющиеся общедоступными и/или общеизвестными. 
			p.lead.ph-1 8.2. Каждая из Сторон обязуется без согласия другой Стороны не распространять, не передавать третьим лицам информацию и/или документы, указанные в п. 7.1 настоящего Договора, полностью или в части, а также не предоставлять третьим лицам доступ к такой информации и документам полностью или в части. 
			p.lead.ph-1 8.3. Стороны обязуются принимать все необходимые меры для того, чтобы предотвратить полное или частичное распространение, передачу третьим лицам информации и документов, указанных в п. 7.1 настоящего Договора, а также предоставление третьим лицам доступа к такой информации и документам. 
			p.lead.ph-1 8.4. Действие положений, предусмотренных настоящей статьей, сохраняется после прекращения настоящего Договора по любой причине в течение 5 (пяти) лет с момента прекращения настоящего Договора. 
			p.lead.ph-1 8.5. Действие настоящей статьи не распространяется на случаи передачи информации и/или документов, указанных в п. 7.1 настоящего Договора, органам государственной власти и местного самоуправления по их требованию в рамках исполнения указанными органами функций по государственному (муниципальному) контролю и надзору. 
			p.lead.ph-1 9. Обстоятельства непреодолимой силы 
			p.lead.ph-1 9.1. Стороны освобождаются от ответственности за частичное или полное неисполнение обязательств по настоящему Договору, если неисполнение явилось следствием, действий внешних объективных факторов и прочих обстоятельств непреодолимой силы, за которые Стороны не отвечают и предотвратить неблагоприятное воздействие которых они не имеют возможности. Отнесение обстоятельств к форс- мажорным осуществляется на основании постановления компетентного государственного органа, либо по соглашению Сторон. 
			p.lead.ph-1 10. Порядок заключения Договора, срок его действия и порядок прекращения 
			p.lead.ph-1 10.1. Настоящий Договор считается заключенным с любым физическим или юридическим лицом с момента оплаты счета, что является полным и безоговорочным акцептом таким лицом условий настоящего Договора. С момента полного и безоговорочного акцепта условий настоящего Договора указанное лицо становится Стороной настоящего Договора. 
			p.lead.ph-1 10.2. Настоящий Договор вступает в силу с момента его заключения. 
			p.lead.ph-1 10.3. Настоящий Договор заключен на неопределенный срок. 
			p.lead.ph-1 10.4. Настоящий Договор прекращается: 
			p.lead.ph-1 10.4.1. по соглашению Сторон; 
			p.lead.ph-1 10.4.2. в случае одностороннего отказа Лицензиара или Лицензиата от исполнения настоящего Договора полностью в соответствии с пунктом 9.1 настоящего Договора или в случае письменного уведомления, подписанного уполномоченным лицом от другой Стороны; 
			p.lead.ph-1 10.4.3. в иных случаях, предусмотренных действующим законодательством РФ. 
			p.lead.ph-1 10.5. Не позднее чем за 30 (тридцать) календарных дней до истечения срока действия Лицензии Лицензиат вправе письменно уведомить Лицензиара об одностороннем отказе от исполнения настоящего Договора полностью без объяснения причин. В случае направления Лицензиатом Лицензиару письменного уведомления об отказе от исполнения настоящего Договора полностью настоящий Договор прекращается в дату истечения срока действия Лицензии. В таком случае срок действия Лицензии не возобновляется. 
			p.lead.ph-1 10.6. В случае отказа Лицензиара от исполнения настоящего Договора полностью Лицензиар направляет Лицензиату письменное уведомление о своем одностороннем отказе от исполнения настоящего Договора. 
			p.lead.ph-1 10.7. Настоящий Договор прекращается по истечении 30 (тридцати) календарных дней с даты направления Лицензиаром Лицензиату письменного уведомления об одностороннем отказе от исполнения настоящего Договора полностью. 
			p.lead.ph-1 10.8. С момента прекращения настоящего Договора права и обязанности Сторон прекращаются, за исключением случаев, предусмотренных п. 7.4 настоящего Договора. 
			p.lead.ph-1 10.9. Прекращение настоящего Договора не освобождает Стороны от ответственности за его нарушение. 
			p.lead.ph-1 10.10. В случае досрочного прекращения настоящего Договора по любой причине уплаченный Лицензиатом в соответствии с настоящим Договором, платеж за подключение и Лицензионный платеж не подлежит возврату. 
			p.lead.ph-1 11. Разрешение споров 
			p.lead.ph-1 11.1. Стороны будут прилагать все усилия к тому, чтобы разрешать возникающие разногласия и споры, связанные с исполнением настоящего Договора, путем переговоров. 
			p.lead.ph-1 11.2. В случае не достижения согласия в результате переговоров указанные разногласия и спорные вопросы разрешаются в претензионном (досудебном) порядке. 
			p.lead.ph-1 
			p.lead.ph-1 11.3. Сторона, выдвинувшая требование, направляет другой Стороне мотивированную претензию в письменной форме. Другая Сторона обязуется рассмотреть такую претензию и направить ответ на нее в течение 10 (десяти) календарных дней с момента ее получения. 
			p.lead.ph-1 11.4. В случае отклонения претензии полностью или частично либо неполучения Стороной, направившей претензию, ответа на нее в установленный п. 10.3 настоящего Договора срок для ее рассмотрения Сторона, направившая претензию, вправе обратиться в Арбитражный суд г. Новосибирска в соответствии с действующим законодательством Российской Федерации. 
			p.lead.ph-1 12. Прочие условия 
			p.lead.ph-1 12.1. Заключая настоящий Договор, Лицензиат подтверждает наличие у него законных оснований и прав для обработки с использованием Программы принадлежащей ему информации, включая персональные данные. 
			p.lead.ph-1 12.2. Лицензиар, имея соответствующие полномочия от Правообладателей, заявку Лицензиата и пакет необходимых документов, передает Лицензиату, как конечному пользователю неисключительные (ограниченные) права (простая неисключительная лицензия) использования программного обеспечения для ЭВМ, осуществляющего функции, описанные в руководстве на программное обеспчение системы ТОИРУС, в соответствии с условиями Сублицензионного соглашения на использование программного обеспечения. В данном случае Лицензиар, является сублицензиаром и гарантирует, что на момент подписания настоящего Договора он обладает необходимыми правами и полномочиями для предоставления неисключительных лицензий и ему ничего не известно о правах третьих лиц, которые могли бы быть нарушены предоставлением Конечному пользователю неисключительного права использования Изделия по данному Договору. 
			p.lead.ph-1 12.3. Все уведомления, предусмотренные настоящим Договором, направляются Сторонами друг другу по одному или нескольким адресам (включая адреса электронной почты), указанным в статье 12 настоящего Договора, если иное не установлено настоящим Договором. Уведомления могут направляться как в бумажной, так и в электронной форме. 
			p.lead.ph-1 12.4. Стороны обязаны незамедлительно в срок не позднее 3 (трех) дней извещать друг друга письменно обо всех изменениях в реквизитах, указанных в статье 12 настоящего Договора. 
			p.lead.ph-1 12.5. Денежные средства, уплачиваемые Сторонами друг другу в безналичной форме, перечисляются на соответствующие расчетные счета, указанные в статье 12 настоящего Договора. 
			p.lead.ph-1 12.6. Настоящий Договор составлен на русском языке в соответствии с действующим законодательством РФ. 
			p.lead.ph-1 12.7. Любые изменения и дополнения к настоящему Договору должны быть составлены в письменной форме в виде дополнительных соглашений к настоящему Договору и вступают в силу с момента подписания таких дополнительных соглашений обеими Сторонами. При подписании дополнительных соглашений не допускается использование факсимильного воспроизведения подписи с помощью средств механического или иного копирования, электронной подписи либо иного аналога собственноручной подписи. 
