extends ../../layouts/default

block intro

block flash-messages

block content
	.container-sm
		.page-content.tile.ph-0.pv-2.mb-2
			.panel-heading
				span.entypo.entypo-mobile
				|  Контакты
			br
			p.lead.ph-1 Наши телефоны: +7-351-2744446, +7-351-2744447
			p.lead.ph-1 Наш часовой пояс (GMT+5), мы находимся в Челябинске и работаем с 9:00 до 18:00.
			p.lead.ph-1 Напишите нам
			p.lead.ph-1 Наши e-mail: sale@toirus.ru, m.kazantsev@tehnosber.ru. Мы всегда открыты к сотрудничеству.
