extends ../../layouts/default

block intro

block flash-messages

block content
	.container-sm
		.page-content.tile.ph-0.pv-2.mb-2
			.panel-heading
				span.entypo.entypo-help
				|  FAQ
			br
			p.lead.ph-1.bold 1. Ничего не работает
			p.lead.ph-1 Звоните нам, мы поможем
			p.lead.ph-1 
			p.lead.ph-1 
			p.lead.ph-1 
