extends ../../layouts/default

block intro

block flash-messages

block content
	.container-sm
		.page-intro
			//span.entypo.entypo-help(font-size:32px)
			//|   Мои запросы
			//a(href='/ticketnew').text-muted  + создать новый
			//br
		.page-content.tile.ph-0.pv-2.mb-2
			.panel-heading
				span.entypo.entypo-new
				|  Журнал действий
			br
			table.pl-1
				thead
					tr
						th.thac Дата
						th.thac Пользователь
						th.thac Описание
				tbody
				if logs
					each log in logs
						if log
							tr
								td.pl-1 
									font.bgray #{log._.date.format('DD/MM/YYYY hh:mm:ss')}
								td.pl-1 #{locals.user.name}
								td.pl-1 #{log.description}

							
