extends ../../layouts/default

block intro

block flash-messages

block content
	.container-sm
		.page-intro
			//span.entypo.entypo-help(font-size:32px)
			//|   Мои запросы
			//a(href='/ticketnew').text-muted  + создать новый
			//br
		.page-content.tile.ph-0.pv-2.mb-2
			.panel-heading
				span.entypo.entypo-help
				|  Запросы и вопросы
			br
			if tickets
				each ticket in tickets
					if ticket
						p.lead.ph-1 
							font.bgray #{ticket._.createdAt.format('DD MMM YYYY hh:mm:ss')}
							a(href='/ticket/' + ticket._id)|  ##{ticket.ticketId}
							a(href='/ticket/' + ticket._id)|  #{ticket.name}
							if ticket.ticketStatus === 'open'
								font.status-label.opened|  Открыт
							if ticket.ticketStatus === 'process'
								font.status-label.process|  В процессе
							if ticket.ticketStatus === 'closed'
								font.status-label.closed|  Закрыт
					else
						h3.text-muted Нет запросов
				br
				a.btn-right.btn.btn-primary.btn-right(href='/ticketnew') Открыть запрос

							
